body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;
}


#colorButton {
    padding: 20px 40px;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}


.button-container {
    text-align: center;
}